
    
<div style="width: 500px;">
    <h1 style="text-decoration: double; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px;">IDENTIFICATION BIOMETRIQUE DES ETUDIANTS</h1>

    <div class="card-body">
        
        <form>
            <div class="form-group">
              <label for="username">Nom d'utilisateur</label>
              <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username"   #usernameOk required>
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" id="password" placeholder="Password"   #passwordOk required>
              
            </div>
            <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Se souvenir</label>
            </div> -->

            <div class="card text-center">
                <button type="submit" class="btn btn-warning" (click)="auth.login(usernameOk.value,passwordOk.value)">Connexion</button>
            </div>      
        </form>
    </div>
</div>

