<div class="container-fluid g-0">
    <app-header></app-header>
    <main>
        <app-side-nav></app-side-nav>
        <div class="display-area p-3">
            <marquee><p class="fs-1 fw-bold" style="margin-top: 10px;">Bienvenue</p></marquee>

            <div class="card-group">
                <div class="card  text-white bg-primary mb-3" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <!-- <p class="fa-solid fa-users-line"></p> -->
                    <div class="card-body">
                      <h1 class="card-title h12"></h1>
                      <h2 class="card-text p12">Etudiants</h2>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
    
                <!-- <div class="card text-dark bg-warning mb-3" style="width: 18rem;">
             
                    <div class="card-body">
                      <h1 class="card-title h12">20</h1>
                      <h2 class="card-text p12">Inscriptions non validés</h2>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div> -->
    
                <!-- <div class="card text-white bg-success mb-3" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <p class="fa-solid fa-users-line"></p>
                    <div class="card-body">
                      <h1 class="card-title h12">$ 2490</h1>
                      <h2 class="card-text p12">Total Caisse</h2>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div> -->
            </div>

            <img src="">

            <h1 style="text-align: center; font-size: 60px; font-style: normal oblique; margin-top: 20px;">ISPT-KIN</h1>


        </div>
    </main>
</div>
